{% extends "base.html" %}
{% load static %}


{% block head %}
  <title>{{profile.user.username}}'s Profile</title>
  <link rel="stylesheet" href="{% static 'css/profile/profile.css' %}">
{% endblock head %}

{% block body %}
<div class="main">

<div class="profile-info">
  <img class="user-profile-img" src="{{profile.profile_image.url}}" alt="">
  <h1>{{profile.user.username}}</h1>
  <p>Followers: {{followers}} </p>
  <p>Following: {{following}}</p>


  {% if profile == request_user %}
  <a href="">
    <button class="settings-btn">Settings</button>
  </a>
    
  {% else %}

  
  {% if is_following %}
    <a href="{% url 'unfollow' follower=request_user.id following=profile.id  %}">
    <button class="unfollow-btn">Following</button>
    </a>
      {% else %}
      <a href="{% url 'follow' follower=request_user.id following=profile.id  %}">
      <button class="follow-btn">Follow</button>
    </a>
    
  {% endif %}
  {% endif %}
</div>
</div>
<div class="posts">

  {% for i in posts %}
    <a class="post-link" href=""><img class="preview-post-img" src="{{i.image.url}}" alt=""></a>
  {% endfor %}
</div>
  {% endblock body %}
{% block js %}
  <script src="{% static 'js/profile.js' %}"></script>
{% endblock js %}